.title{
    width:100%;
  }
  
  .container{
    text-align:center;
  }
  
  .claculatorbox{
    display:grid;
    grid-template-columns: 100%;
    grid-gap:20px;
  }
  
  .claculatorbox .item{
    text-align:left;
  }
  
  .claculatorbox .item select{  
    text-align:left;
    border:none;
    font-size:40px;
    color:#607D8B;
    font-weight:bold;
    outline:none;
    cursor:pointer;
  }
  
  .calcoption{
   font-size: 18px; 
    padding:15px; 
    font-weight:bold;
    background:#2e2046;
  }
  
  .valuefield{
    width:100%;
    border:none;
    font-size:55px;
    font-weight:bold;
    color:#3F51B5;
    outline:none;
  }
  
  /* For Firefox */
  input[type='number'] {
      -moz-appearance:textfield;
  }
  /* Webkit browsers like Safari and Chrome */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  @media screen and (min-width:505px){
   .claculatorbox{
    grid-template-columns: 49% 49%;
    }
  }